<div class="text-white text-center">
  <h1>
    THE GRUMPY CAT GAME
  </h1>
</div>
<div class="text-center">
  <input #foodInput /> <button (click)="food$.next(foodInput.value)">submit</button>
  <h1 style="color: white;">hey you like {{result$ | async }} eh?</h1>
</div>
<div>
  <img class="😸" src="./assets/grumpycatno.png" alt="grumpy cat">
</div>
<div>
  <img class="🥣" src="./assets/bowl.png" alt="cat bowl">
</div>
<div>
  <img class="🍩 🍽" src="./assets/donut.png" alt="donut">
  <img class="🍟 🍽" src="./assets/fries.png" alt="fries">
  <img class="🐟 🍽" src="./assets/goldfish.png" alt="goldfish">
  <img class="🍔 🍽" src="./assets/hamburger.png" alt="hamburger">
  <img class="🍕 🍽" src="./assets/pizza.png" alt="pizza">
  <img class="🌮 🍽" src="./assets/taco.png" alt="taco">
  <img class="🌭 🍽" src="./assets/hotdog.png" alt="hotdog">
</div>
<div class="scoreboard-styling">
  <img src="./assets/scoreboard.png" alt="score board">
</div>
<div class="counter-cat">{{counterCat$ | async}}</div>
<div class="counter-you">{{counterYou$ | async}}</div>
